* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

pc-viewer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #535376;
}

.pc-item {
    font-size: .55rem;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.title{
    margin-top: .5rem;
}

.pc-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.image {
    width: 75%;
    height: auto;
}

.info-btn{
    background-color: #535376;
}
.icon-info-btn{
    color: white;
}
.popover{
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.popover.active {
    display: block;
    p{
        font-size: .875rem;
        font-weight: 600;
        padding: 0 1rem;
    }
    ul{
        list-style: none;
    }
}

/* Responsivo */
@media (min-width: 768px) {
    .banner-desc {
        font-size: 1.25rem;
    }
    pc-viewer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .pc-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    .image {
        width: 65%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .banner-desc {
        font-size: 1.5rem;
    }

    pc-viewer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .pc-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .title {
        font-size: 2rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .image {
        width: 55%;
        height: auto;
    }
}