* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

pc-viewer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #535376;
}

.pc-item {
    font-size: .55rem;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.title {
    margin-top: .5rem;
}

.pc-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.image {
    width: 75%;
    height: auto;
}

.info-btn {
    background-color: #535376;
}

.icon-info-btn {
    color: white;
}

.popover {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.popover.active {
    display: block;

    p {
        font-size: .875rem;
        font-weight: 600;
        padding: 0 1rem;
    }

    ul {
        list-style: none;
    }
}

.cart-popover .popover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-item-details {
    display: flex;
    align-items: center;
}

.cart-item-image {
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
}

.cart-buttons {
    display: flex;
    gap: 1rem;
}

.buy-button, .cancel-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336;
}

.cart-popover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popover-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.cart-item .quantity-controls {
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }
  
  .cart-item .quantity-controls button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
  }
  
  .cart-item .quantity-controls button:hover {
    background-color: #e0e0e0;
  }

/* Responsivo */
@media (min-width: 768px) {
    .banner-desc {
        font-size: 1.25rem;
    }

    pc-viewer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .pc-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .image {
        width: 65%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .banner-desc {
        font-size: 1.5rem;
    }

    pc-viewer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .pc-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    .title {
        font-size: 2rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .image {
        width: 55%;
        height: auto;
    }
}